
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    background: white;
    color: black;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}


.header {
    background: #222;
    color: white;
    padding: 15px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 22px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}

.menu-btn {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
}


.section {
    padding: 60px 20px;
}

.section-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 40px;
    color: black;
}


.about-section {
    background: white;
    box-shadow: 0 3px 10px black;
}

.about {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.profile-img {
    width: 220px;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
    border: 4px solid white;
}

.highlight {
    color: blue;
}

.intro {
    font-size: 18px;
    margin-bottom: 15px;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.skill-card {
    background: white;
    padding: 20px 30px;
    border-radius: 8px;
    font-size: 18px;
    box-shadow: 0 4px 10px black;
}


.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.project-card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 3px 8px black;
}

.project-card img {
    width: 100%;
    height: 170px;
    border-radius: 10px;
    object-fit: cover;
}

.project-card h3 {
    margin: 15px 0 10px;
}


.contact-form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid white;
    font-size: 16px;
}

.contact-form button {
    padding: 12px;
    background:blue;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

.form-status {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    color: green;
}

/* FOOTER */
.footer {
    background:white;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 40px;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background:black;
        margin-top: 10px;
        padding: 10px;
    }

    .menu-btn {
        display: block;
    }
}
